body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.zdj4
{
    margin: 0px auto;
}
.zdj4 img
{
    box-sizing: border-box;
    border: 7px solid white;
    width: 100%;
}
b
{
    font-size: 30px;
}
h4
{
    font-size: 26px;
}
h6
{
font-size: 14px;
color: #FFC000;
margin: 0 auto;
padding-bottom: 30px;
}
h2
{
    font-size: 34px;
    color: #2D3438;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}
em
{
    font-size: 24px;
}
p
{
    display: flex;
    margin: 0px auto;
    padding-bottom: 20px;
    font-size: 16px;
}
p8
{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 21px;
font-weight: 600;

}
.square3
{
    display: flex;
    margin-top: 28px;
    margin-left:4px;
    background-color:rgb(255, 196, 0) ;
    width: 8px;
    height: 8px;
    border-radius: 0px;

}
.square4
{
    display: flex;
    margin-top: 8px;
    margin-right: 4px;
    background-color:rgb(255, 196, 0) ;
    width: 8px;
    height: 8px;
    border-radius: 0px;

}
.strzaka1
{
    display: flex;
    padding-bottom: 100px;
}
a
{
    display: flex;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.border
{
    border-bottom: 1px solid rgb(155, 155, 155);
}
ul
{
    padding-bottom: 60px;
}
li
{
    padding-bottom: 10px;
}
li::marker
{
    color: rgb(255, 196, 0);
}
.drmundo
{
    padding-top: 70px;
    padding-bottom: 50px;
}
@media screen and (min-width: 800px) 
{
    main {
        display: grid;
        grid-template-columns: auto 300px;
    }

    .grid-left {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-right {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        margin-left: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .flexy1
    {
        width: 90%;
    }
.flexy
{
    width: 100%;
    padding-right: 50px;
    display: block;
}
.flexypre
{
    display: flex;
}
.james
{
    padding-top: 10px;
    font-size: 20px ;
    padding-left: 10px;
}
b
{
    font-size: 30px;
}