body
{
    background-color: whitesmoke;
    margin: 0px;
}
.logomen
{
    
    padding-bottom: 30px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}
h1
{
    margin:0px auto;
    font-size: 72px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
h3
{
    padding-bottom: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
   font-weight: 400;
    color: rgb(231, 231, 231);
    margin: 0px auto;
}
h5
{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin: 0px auto;
    font-weight: 700;
}
h2
{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    margin: 0px auto;
    font-weight: 700;
    display: flex;
}
p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #656a6f;
}
p2
{
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
a
{
color: rgb(37, 37, 54);
text-decoration: none;
font-weight: 600;
}
header.naglowek
{
}
header
{
    background-image: url(3.jpg);
    background-position:center -120px;
}
header img
{
    width: 3000px;
    height: 1628px;
}
.menunav li
{
    float: right;
    display: flex;
    padding-left: 20px;
}
button 
{
    background-color: none  ;
}
.active-button a
 {

}
.active-button {
    background-color: #ffc000;
}
.menunav button:hover {
    background-color: #656a6f;
}
.menunav button {
    border-style: none;
    padding: 8px;
    border-radius: 4px;
}
.menunav a {
    text-decoration: none;
}
nav
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    display: none;
}
.menunav a {
    color: black;
    font-size: 18px;
}
.border
{

    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-top: 20px;
}
select
{
    overflow: visible;
    width: 100%;
}
.naglowek
{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid grey;
}
.logo img
{
    height: 52px;
    width: 131px;
    margin: 0px auto;
    justify-content: center;
}
.logomen2
{
    width: 131px;
    margin: 0px auto;
    padding-bottom: 20px;
}
ul
{
list-style: none;
}
ul.tabela
{
    padding-left: 12.5px;
    padding-right: 12.5px;
    display: block;
    padding-top: 30px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(196, 196, 196);
}
#idiots
{
    padding-top: 90px;
    padding-bottom: 50px;
    padding-left: 12.5px;
    padding-right: 12.5px;
}
.stopka
{
    padding-left: 12.5px;
    padding-right: 12.5px;
    padding-bottom: 120px;
}
#znaczki img
{
    width: 30px;
}
#znaczki
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 91px;
}
.idiotspre
{
}
#selfycop
{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 204px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #656a6f;
    text-align: center;
}
#selfycop img
{
    padding-bottom: 20px;
width: 45px;
height: 19px;
}
.square1
{
    background-color:rgb(255, 196, 0) ;
    width: 10px;
    height: 10px;
    border-radius: 0px;
    margin-left: 8px;
    margin-top: 28px;
}
a.more
{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-left: 5px;
}
.square2
{
    background-color:rgb(255, 196, 0) ;
    width: 10px;
    height: 10px;
    border-radius: 0px;
    margin-left: 8px;
    margin-top: 22px;
}
.strzaka
{
    display: flex;
    padding-bottom: 70px;
}
@media screen and (min-width: 600px)
{
    .border
{
    padding-left: 32.5px;
    padding-right: 32.5px;
    padding-top: 80px;
}
.logomen
{
    padding-bottom: 100px;
}
    .logomen2
    {
        float: left;
        padding-left: 30px;
    }
    #select
{
    float: right;
    overflow: visible;
    width: 15%;
    margin-right: 30px;
}
#idiots
{
    padding-top: 100px;
    padding-bottom: 60px;
}
.stopka
{
    padding-bottom: 120px;
}
} 
@media screen and (min-width: 800px) 
{
    .idiotspre
{
    padding-right: 250px;
}
    nav
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    select
    {
        overflow: visible;
        width: 100%;
        display: none;
    }
.cała
{
    padding-left: 32.5px;
    padding-right: 32.5px;
}
ul.tabela
{
    padding-left: 12.5px;
    padding-right: 12.5px;
    display: flex;
    padding-top: 30px;
    margin: 0px auto;
    border-bottom: 1px solid rgb(196, 196, 196);
}
.stopka
{
    padding-bottom: 100px;
    display: flex;
    padding-left: 12.5px;
    padding-right: 12.5px;
}
#znaczki img
{
    width: 30px;
    height: 32px;
}
#znaczki
{
    padding-top: 40px;
    display: flex;
    float: right;
    margin: 0px auto;
    width: 91px;
}
#selfycop
{
    padding-left: 490px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 204px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #656a6f;
    text-align: center;
}
#selfycop img
{
    padding-bottom: 20px;
    width: 45px;
    height: 19px;
}
#pierwsza
{
    padding-right: 15px;
}
#druga  
{
    padding-right: 15px;
    padding-left: 15px;
}
.trzecia
{
    padding-left: 15px;
}
#idiots
{
    padding-bottom:350px;
}
.logomen
{
    padding-bottom: 50px;
}
}
@media screen and (min-width: 1135px) 
{
    .idiotspre
    {
        padding-right: 260px;
    }
    .cała
{
    padding-top: 80px;
    padding-left: 82.5px;
    padding-right: 82.5px;
}
#idiots
{
    padding-bottom:350px;
}
}
@media screen and (min-width: 1255px) 
{
    .cała
{
    padding-left: 82.5px;
    padding-right: 82.5px;
}
#idiots
{
    padding-bottom:350px;
}
}
@media screen and (min-width: 1335px) 
{
    .idiotspre
{
    padding-left: 250px;
    padding-right: 635px;
}
    .cała
{
    padding-left: 282.5px;
    padding-right: 282.5px;
}
#selfycop
{
    padding-left: 450px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    width: 204px;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #656a6f;
    text-align: center;
}
nav
{
    padding-right: 310px;
}
.logo img
{
    padding-left: 240px;
}
#idiots
{
    padding-top: 220px;
    padding-bottom:350px;
}
.stopka
{
    padding-bottom: 100px;
    padding-right: 0px;
}
}