body
{
    font-family: Arial,sans-serif;
    max-width: 639px;
    margin: 0;
}
main
{
    background-color: #252a3a;
    width: 639px;
    height: 400px;
    font-size: 16px;
    color: white;
}
#b
{
    text-align: center;    
}

.btn
{
border-radius: 20%;
    background: #252a3a;
    border-style: none;
    font: 16px;
    color: white;
    border-radius: 20px;
    width: 90px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
    background: #1b98f8;
    cursor: pointer;

}
#c
{
    padding-top: 10px;
   padding-left: 300px;
}
#a
{
    padding-top:10px;
}
.btn2
{
    margin-left: 15px;
    display: block;   
    border-style: none;
    padding: 5px;
    background-color:#252a3a ;
    color: white;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
}
.btn3
{
    margin-left: 270px;
    display: block;   
    border-style:hidden;
    padding: 5px;
    background-color:#252a3a ;
    color: dodgerblue;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
}
#label
{
    margin-left: 15px;
    width: 350px;
    height: 400px;
    font-size: 16px;
    color: rgb(68, 74, 158);
}
.btn4
{
    padding: 20px;
    margin-left: 15px;
    display: block;   
    border-style: none;
    padding: 5px;
    background-color:#252a3a ;
    color: white;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
    display: flex;
}
.square1
{
    background-color:yellow ;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin-right: 10px;
    margin-left:-20px ;
}
.square2
{
    background-color:lightskyblue ;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin-right: 10px;
    margin-left:-20px ;
}
.square3
{
    background-color:lime;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    margin-right: 10px;
    margin-left:-20px ;
}
section
{
    background-color: white;
    width: 639px;
    height: 100%;
    font-size: 16px;
}
#email1
{
    display: flex;
    padding-top: 12px;
    margin-bottom: 0px;
    border-bottom: 1px solid grey;
}
#email2
{
    border-left: 6px solid #1B98F8;
    display: flex;
    padding-top: 12px;
    margin-bottom: 0px;
    border-bottom: 1px solid grey;
}
#email
{

}
.profile-pic
{
    width: 42px;
    height: 42px;
    border-radius: 3px;
    margin-right: 8px;
    margin-left: 18px;
}
.profile-pic2
{
    width: 42px;
    height: 42px;
    border-radius: 3px;
    margin-right: 8px;
    margin-left: 12px;
}
.txt
{
font-size: 16px;
color: black;
width: 350px;
}
.nick
{
    font-size: 13px;
    color: #999;
    text-transform: uppercase;
    margin-top: 0px;
}
.title
{
    margin-top: -10px;
font-size: 16px;
color: black;
font-weight: bold;
}
.mailtxt
{
margin-top: -10px;
}
section2
{
    background-color: white;
    width: 639px;
    height: 100%;
    font-size: 16px;
}
.nagtxt
{
    font-size: 32px;
    color: black;
    margin-left: 18px;
}
#tekst
{
    margin-left: 18px;
}
#mail {
    width: 100%;
}

#mail-up {
    display: flex;
    border-bottom: 1px solid grey;
}

.main-mail-title {
    font-size: 32px;
    color: black;
    margin-left: 18px;
}

.main-mail-undertitle {
    font-size: 16px;
    color: black;
    margin-left: 18px;
}

#main-mail-right {
    margin-right: 18px;
    width: 639px;
    display: flex-end;
    text-align: right;
}

.button2 {
    border-radius: 20%;
    background: white;
    border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 16px;
    color: #666;
    border-radius: 20px;
    width: 100px;
    height: 100%;
    cursor: pointer;
}

.niebieski {
    color: #1b98f8;
    text-decoration: none;
}

.szary {
    color: #999;
    text-decoration: none;
}

.mail-text2 {
    padding-top: 10px;
    margin: 16px;
    font-size: 16px;
}

@media screen and (min-width: 639px) {
    body {
        display: grid;
        grid-template-columns: 150px auto;  
        width: 100%; 
        height: 100%;   
    }

    section2 {
        grid-column: 3; grid-row: 1;
        width: auto;
    }

    #main-mail-right {
        display: flex-end;
    }

}
