body
{
    font-family: Arial,sans-serif;
    width: 639px;
}
main
{
    background-color: #252a3a;
    width: 350px;
    height: 400px;
    font-size: 16px;
    color: white;
}
#b
{
    text-align: center;    
}

.btn
{
    cursor: pointer;
    color: white;
    border-radius: 20px;
    height: 26px;
    width: 85px;
    border:none;
    padding:0;
    background-color: dodgerblue;
    font-family: Arial;
    font-size: 16px;

}
#c
{
    padding-top: 10px;
   padding-left: 300px;
}
#a
{
    padding-top:30px;
}
.btn2
{
    margin-left: 15px;
    display: block;   
    border-style: none;
    padding: 5px;
    background-color:#252a3a ;
    color: white;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
}
.btn3
{
    margin-left: -10px;
    display: block;   
    border-style:hidden;
    padding: 5px;
    background-color:#252a3a ;
    color: dodgerblue;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
}