body {
    background-image: url(tlo.png);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
    font-size: 20px;
    color: #cbd6df;
}
section {
    background-color: #fff;
    width: 460px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
}
#logo{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.obraz{
    padding: 5px;
}
#napisdologo
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    color: #cbd6df;
    font-size: 10px;

}
#obrazekloga{
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#tekstpod{
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #cbd6df;
    font-style:arial;
    font-size: 30px;
}
#tekstpodpod{
    margin-top: 25px;
    margin-left: 38%;
    margin-right: 38%;
    text-align: justify;
    font-size: 13px;
    line-height: 32px;
    font-style: arial;
}
a{ 
color:#819791 ;
text-decoration: underline dotted;
 }
